.new {
    background: #0055d4;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    color: #fff;
    // border-radius: 100px;
    padding: 20px 15px;
    min-width: 150px;
    border: none;
}
.center{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}